/* ------- DIRECTIONS -------*/

[direction="right"] {
    transform: translateX(100px);
}

[direction="left"] {
    transform: translateX(-100px);
}

[direction="up"] {
    transform: translateY(100px);
}

[direction="down"] {
    transform: translateY(-100px);
}

[direction="right"], [direction="left"], [direction="up"],[direction="down"] {
    transition: transform 0.6s ease;
}
  
/* ------- FADES -------*/

[aos^="fade"] {
    opacity: 0;
    transition: opacity 0.3s ease;
} 

[aos="fade-up"] {
    transform: translateY(15%);
    transition: transform 0.3s ease;
} 

[aos="fade-down"] {
    transform: translateY(-15%);
    transition: transform 0.3s ease;
} 

[aos="fade-left"] {
    transform: translateX(-15%);
    transition: transform 0.3s ease;
} 

[aos="fade-right"] {
    transform: translateX(15%);
    transition: transform 0.3s ease;
} 

/* ------- ZOOMS -------*/

/* ------- PARALLAX -------*/

[aos="parallax"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.6s ease ease;
  }
  
[aos="parallax"].animate {
opacity: 1;
transform: translateY(0);
}


.animate {
    opacity: 1;
    transform: translateX(0) translateY(0);
    transition: opacity 0.8s ease, transform 0.6s ease;
}