/* ------- DIRECTIONS -------*/

[aos~="right"] {
    transform: translateX(100px);
}

[aos~="left"] {
    transform: translateX(-100px);
}

[aos~="up"] {
    transform: translateY(100px);
}

[aos~="down"] {
    transform: translateY(-100px);
}
  
/* ------- FADES -------*/

[aos^="fade"] {
    opacity: 0;
    transition: opacity 0.3s ease;
} 

[aos="fade-up"] {
    transform: translateY(15%);
} 

[aos="fade-down"] {
    transform: translateY(-15%);
} 

[aos="fade-left"] {
    transform: translateX(-15%);
} 

[aos="fade-right"] {
    transform: translateX(15%);
} 

/* ------- ZOOMS -------*/

[aos^="zoom"] {
    scale: 0;
} 


[aos="zoom-up"] {
    transform: translateY(15%);
} 

/* ------- PARALLAX -------*/

[aos="parallax"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.6s ease ease;
  }
  
[aos="parallax"].animate {
opacity: 1;
transform: translateY(0);
}

.animate {
    opacity: 1;
    transform: translateX(0) translateY(0); 
    scale : 1;
    transition: opacity 0.8s ease, transform 0.6s ease, scale 0.3s ease;
}